body {
	margin: 0;
	padding: 0;
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
	font-family: 'Montserrat', sans-serif;
	color:#FFF;
	    }

#title-page{
	width:800px;
	height:400px;
	overflow:hidden;
	margin-left: 20px;	
	text-align: center;
	display: inline-block;
}
#start{
    margin-top: 20px;
    margin-bottom: 20px;
	background-color: darkslategray;
	font-family: 'Montserrat', sans-serif;
	border-color:  darkslategray;
}
#navContent{
margin:auto;	
width:800px;
height:400px;
position:relative;
overflow:hidden;
}

#game1{
margin:auto;
width:800px;
height:400px;
right:0px;
position:absolute;
}

#game2{
margin:auto;	
width:800px;
height:400px;
right:-800px;
position:absolute;
} 

#answer6{
	margin:auto;	
	width:800px;
	height:400px;
	right:-800px;
	position:absolute;	
	color:#FFF;
}

#answer7{
	margin:auto;	
	width:800px;
	height:400px;
	right:-800px;
	position:absolute;	
}

.questionText{
font-size:24px;
font-family: 'Montserrat', sans-serif;
color:#FFF;
}

.option{
	text-align: center;
	display: inline-block;
width:250px;
height:30px;
margin:15px;
font-size:15px;
color:#FFFFFF; 
font-family: 'Montserrat', sans-serif;
padding:2px;
padding-left:10px;
border: 2px solid white;
cursor:pointer;
background-color:darkslategray;
}

.option:hover{
border:#ACA287 solid 2px;
color:#ACA287;
}


#topbar{
height:50px;
margin:auto;
color:#FFF;
font-size:36px;
font-family: 'Cinzel Decorative', cursive;
width:800px;
border-bottom:solid white 1px;
}
 
.spacer{
height:3px;
}

.feedback1{
width:150px;
padding:5px;
font-size:30px;
color:#FFFFCC;
background-color:#009900;
font-family: 'Montserrat', sans-serif;
text-align:center;
}

.feedback2{
width:150px;
padding:5px;
font-size:30px;
color:#FFFFCC;
background-color:#CC3300;
font-family: 'Montserrat', sans-serif;
text-align:center;
}
 
.jumbotron{
	background-color: #7c3538;
	opacity: 80%;
	margin-top: 100px;
	padding: 0%;
	border-style: outset;
	border:black;
	border-width: 5px;
}

#timer-box{
	padding-left: 100px;
	margin:auto;	
	color:#FFF;
}
 
@media screen and (max-width:800px) {
	#topbar{margin-left:1%;margin-right:1%;	width:96%;}
	#navContent{margin:1%;	width:98%;}
	#game1{margin:1%;	width:98%;}
	#game2{margin:1%;	width:98%;}


}
@media screen and (max-width:460px) {
	.option{width:80%;margin:5%;}
}